<p> Welcome to <%= title %>. </p>

<% if (isUserLoggedIn) { %>
  <p> Hello, <%= currentUserInfo.name %>. </p>
<% } %>

<nav>
  <ul>
    <% if (!isUserLoggedIn) { %>
      <li> <a href="/auth/signup"> Sign Up </a> </li>
      <li> <a href="/auth/login"> Log In </a> </li>
    <% } else { %>
      <li> <a href="/laundry/launderers"> Find a Launderer </a> </li>
      <li> <a href="/laundry/dashboard"> See Dashboard </a> </li>
      <li> <a href="/auth/logout"> Log Out </a> </li>
    <% } %>
  </ul>
</nav>
